html,
body {
  font-family: sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

button {
  padding: 10px 12px;
  margin: 5px;
  outline: none;
  border: 2px solid grey;
  cursor: pointer;
  border-radius: 5px;
}
